@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

h1{
    margin: 50px 0px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 0px 10px;
    text-decoration: underline;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#grafico {
  width: 500px;
  height: 500px;
}

